<div class="container my-5 text-center display-1">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
          <div class= "animate__animated animate__fadeInDown display-1">
            Welcome to Moodify
          </div>
          <div class= "animate__animated animate__fadeInDown display-6">
            Advanced mental health analysis. For free.
          </div>
      
          
          <div class="row animate__animated animate__fadeIn animate__delay-1s">
            <div *ngIf="!is_logged">
              <div class="col">
                <button class="btn btn-lg btn-dark mr-2" routerLink="/login" >Login</button>
              </div>
              <div class="col">
                <button class="btn btn-lg btn-dark" routerLink ="/register">Register</button>
              </div>
            </div>
            <div *ngIf="is_logged">
                <button class="btn btn-lg btn-dark mr-2" routerLink="/dashboard" >Enter the Dashboard</button>
            </div>
            <img src="assets/home_image.png" alt="">
          </div>
    </div>
  </div>
</div>
    