<div class="container my-5 text-center display-1">
    <div class= "animate__animated animate__fadeIn display-1">
      Welcome to Moodify
    </div>
    <div class= "animate__animated animate__fadeIn display-6">
      Keep a track of your mental health. Daily.
    </div>
    <div class="d-flex justify-content-center ">


    <div class="row animate__animated animate__fadeIn animate__delay-1s ">
      <div class="col">
        <button class="btn btn-lg btn-dark mr-2" routerLink="/login" >Login</button>
      </div>
      <div class="col">
        <button class="btn btn-lg btn-dark" routerLink ="/register">Register</button>
      </div>
    </div>
  </div>
</div>
